name: Reusable Docker

on:
  workflow_call:
    inputs:
      ### Docker Name
      repo_name:
        description: "Summary generate name, default will use repo name"
        required: false
        type: string
        default: "${{ github.repository }}"
      docker_name:
        description: "ghcr.io push name"
        required: true
        type: string
      ###

      ### Docker Settings
      publish:
        description: "Push Image to ghcr.io, default is always push" 
        required: false
        type: boolean
        default: true
      context:
        description: "Custom file path"
        required: false
        type: string
      dockerfile:
        description: "Docker file name, default ``Dockerfile``"
        required: false
        type: string
        default: "Dockerfile"
      platforms:
        description: "Image support platforms, default ``linux/amd64,linux/arm64``"
        required: false
        type: string
        default: "linux/amd64,linux/arm64"

      ### Docker Labeling ###
      docker_label_author:
        description: "Docker Label: Author"
        required: true
        type: string
      docker_label_title:
        description: "Docker Label: Title"
        required: false
        type: string
      docker_label_description:
        description: "Docker Label: Description"
        required: false
        type: string
      ###

      ### Version Detecter ###
      version_detecter:
        description: "Enable version detecter, default ``false``"
        required: false
        type: boolean
        default: false
      version_detecter_file:
        description: "File of detect version string, default ``Dockerfile``"
        required: false
        type: string
        default: "Dockerfile"
      version_detecter_var:
        description: "Placeholder of detect"
        required: false
        type: string
      version_detecter_cut:
        description: "Cut number, default ``2``"
        required: false
        type: string
        default: "2"
      ###

      ### Build Args ###
      build_args:
        description: "Build Args"
        required: false
        type: boolean
        default: false
      ###

      ### Special Build Args ###
      special_build:
        description: "Special step for generate buildtime from docker meta step"
        required: false
        type: boolean
        default: false
      special_build_args:
        description: "Special step of the build time var name"
        required: false
        type: string
      ###

permissions:
  contents: read
  packages: write

jobs:
  docker-test:
    name: Docker Build (Test)
    runs-on: ubuntu-latest
    steps:
      - name: Checking Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup multiarch
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Setup Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Cache Docker layers
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: /tmp/.buildx-cache
          key: ${{ github.repository }}-${{ github.workflow }}-${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ github.repository }}-${{ github.workflow }}-${{ runner.os }}-buildx-

      - name: Build & Test
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: ${{ inputs.context }}
          file: ${{ inputs.dockerfile }}
          platforms: ${{ inputs.platforms }}
          push: false
          tags: ${{ inputs.docker_name }}:test
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new,mode=max

      - name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache

  docker-publish:
    name: Docker Build (Publish)
    runs-on: ubuntu-latest
    needs: [ docker-test ]
    if: github.event_name != 'pull_request'
    steps:
      - name: Checking Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup multiarch
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Setup Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Cache Docker layers
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: /tmp/.buildx-cache
          key: ${{ github.repository }}-${{ github.workflow }}-${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ github.repository }}-${{ github.workflow }}-${{ runner.os }}-buildx-

      - name: Login ghcr.io
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Detect Version
        id: detect_version
        if: ${{ inputs.version_detecter }}
        run: |
          version=$(grep '${{ inputs.version_detecter_var }}' ${{ inputs.version_detecter_file }} | cut -d "=" -f ${{ inputs.version_detecter_cut }})
          echo "version=${version}" >> $GITHUB_OUTPUT
          echo "## ${{ inputs.repo_name }}" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "Detect Image Version: ${version}" >> $GITHUB_STEP_SUMMARY

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: |
            ${{ inputs.docker_name }}
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}
            type=semver,pattern={{version}},value=${{ steps.detect_version.outputs.version }}
          labels: |
            org.opencontainers.image.authors=${{ inputs.docker_label_author }}
            org.opencontainers.image.title=${{ inputs.docker_label_title }}
            org.opencontainers.image.description=${{ inputs.docker_label_description }}

      - name: Build & Push
        if: ${{ ! inputs.special_build }}
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: ${{ inputs.context }}
          file: ${{ inputs.dockerfile }}
          platforms: ${{ inputs.platforms }}
          push: ${{ inputs.publish }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            ${{ inputs.build_args }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new,mode=max

      - name: Build & Push (Special Build Args)
        if: ${{ inputs.special_build }}
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: ${{ inputs.context }}
          file: ${{ inputs.dockerfile }}
          platforms: linux/amd64,linux/arm64
          push: ${{ inputs.publish }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            ${{ inputs.special_build_args }}=${{ fromJSON(steps.meta.outputs.json).labels['org.opencontainers.image.created'] }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new,mode=max

      - name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache
